.hint-box {
    position: absolute;
    left: 50%;
    top: 60%; // Slightly below center crosshair
    transform: translate( -50%, -50% );
    
    display: flex;
    align-items: center;
    gap: 10px;
    
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    font-family: Poppins;

    .key {
        background-color: #eee;
        color: #333;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .label {
        font-size: 16px;
        font-weight: 500;
    }
}